.display{
    width: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
video{
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
}
canvas{
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 2;
}
